* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0E100F;
    color: whitesmoke;
    height: 100vh;
}

#first-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-home {
    display: flex;
    justify-content: center;
}

#logo {
    width: 12rem;
    opacity: 60%;
}

#muscular-guy {
    
    width: 70%;
    position: relative;
    left: 3%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#text-presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.presentation {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    font-style: normal;
    font-size: 3.75rem;                     /* Tamanho da fonte */
    background: linear-gradient(135deg, rgb(172, 177, 173), rgb(68 64 60) 125%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;               /* Para navegadores que suportam */   
}

#description-objectives {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 200;
    font-style: normal;
    font-size: 1.20rem;
    background: linear-gradient(to bottom, rgb(172, 177, 173), rgb(95, 95, 95)200%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;    
}

#blocks-objectives {
    
    height: 10rem;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.little-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background: linear-gradient(180deg, rgb(59, 59, 59)50%, rgb(32, 32, 32));
    width: 50%;
    border-radius: 45px;
    opacity: 50%;
}

#heart {
    opacity: 100%;
    width: 6rem;
}

.little-blocks h4{
    margin-top: 0.6rem;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255)5%, rgb(255, 255, 255)120%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;    
    opacity: 120%;
}

#brain {
    opacity: 100%;
    width: 6rem;
}

#arm {
    opacity: 100%;
    width: 5.5rem;
}

.joke {
    width: 85%;
}

#obs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

#arrow {   
    width: 5rem;
    transform: rotate(340deg);
}

#obs h6 {
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255)5%, rgb(255, 255, 255)120%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    background-clip: text;    
    opacity: 70%;
    transform: rotate(-5deg);
    position: relative;
    left: 5rem;
}