* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0E100F;
    color: whitesmoke;
    height: 100vh;
    overflow-y: hiden;
}

main {
    background-color: red;
    min-width: 100vh;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(88, 88, 88);
}

#first-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 12rem;
    opacity: 60%;
}

#muscular-guy {
    width: 70%;
    height: 100%;
    position: relative;
    left: 3%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#text-presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.presentation {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    font-style: normal;
    font-size: 3.75rem;                     /* Tamanho da fonte */
    background: linear-gradient(135deg, rgb(172, 177, 173), rgb(68 64 60) 125%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;               /* Para navegadores que suportam */   
}

#description-objectives {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 200;
    font-style: normal;
    font-size: 1.20rem;
    background: linear-gradient(to bottom, rgb(172, 177, 173), rgb(95, 95, 95)200%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;
    
}

#description-objectives h3 {
    margin-bottom: 1rem;
}

#blocks-objectives {
    height: 10rem;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.little-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background: linear-gradient(180deg, rgb(59, 59, 59)50%, rgb(32, 32, 32));
    width: 50%;
    border-radius: 45px;
    opacity: 50%;
}

#heart {
    opacity: 100%;
    width: 6rem;
}

.little-blocks h4{
    margin-top: 0.6rem;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255)5%, rgb(255, 255, 255)120%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;    
    opacity: 120%;
}

#brain {
    opacity: 100%;
    width: 6rem;
}

#arm {
    opacity: 100%;
    width: 5.5rem;
}

.joke {
    width: 85%;
}

#obs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.7rem;
}

#arrow {   
    width: 5rem;
    transform: rotate(340deg);
}

#obs h6 {
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255)5%, rgb(255, 255, 255)120%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    background-clip: text;    
    opacity: 70%;
    transform: rotate(-5deg);
    position: relative;
    left: 5rem;
}

#images-part {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#images-part h3 {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    font-style: normal;
    font-size: 1.85rem;
    background: linear-gradient(to bottom, rgb(211, 211, 211), rgb(95, 95, 95)200%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;
    margin-bottom: 1rem;
}

#box-of-images {
    background: linear-gradient(180deg, rgb(41, 41, 41), rgba(32, 32, 32, 0)60%);
    border-radius: 60px;
    width: 90%;
    height: 50rem;
    gap: 8rem;
    display: flex;
    justify-content: space-evenly;
}

#equipaments {
    width: 20rem;
    margin-top: 7rem;
    height: 30rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equipaments ul li {
    margin-bottom: 4rem;
    list-style-type: none;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255)5%, rgb(255, 255, 255)120%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    background-clip: text;
    opacity: 40%;
    transition: all 0.2s;
}

#equipaments ul li:hover {
    opacity: 90%;
    font-size: 1.45rem;
    cursor: pointer;
}

.images-of-equipaments {
    margin-top: 2rem;
    height: 40rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-of-equipaments img {
    max-width: 100%; /* A largura máxima será a do contêiner */
    max-height: 100%;
    border-radius: 40px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1)75%, rgba(0, 0, 0, 0));
    transition: opacity 0.5s ease, transform 0.5s ease; /* Anima opacidade e escala */
    opacity: 0.8; /* Opacidade inicial */
    transform: scale(1); /* Escala inicial */
}

.images-of-equipaments img.fade-out {
    opacity: 0; /* Quando a classe fade-out é adicionada, a opacidade vai para 0 */
    transform: scale(0.8); /* Reduz a escala */
}

#video-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video-part h3 {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    font-style: normal;
    font-size: 1.85rem;
    background: linear-gradient(to bottom, rgb(211, 211, 211), rgb(95, 95, 95)200%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;
    margin-bottom: 1rem;
}

#video-part video {
    border-radius: 100px;
    opacity: 70%;
}

#calling-user {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calling-user h3 {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 700;
    font-style: normal;
    font-size: 1.85rem;
    background: linear-gradient(to bottom, rgb(211, 211, 211), rgb(95, 95, 95)200%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;
    margin-bottom: 1rem;
}

#calling-user p {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
    font-style: normal;
    font-size: 1.35rem;
    background: linear-gradient(to bottom, rgb(211, 211, 211), rgb(95, 95, 95)200%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;
    margin-bottom: 1rem;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-weight: 700;
    color: rgb(240, 240, 240);
    border-radius: 12px;
    cursor: pointer;
    width: 20%;
    height: 20%;
    background: linear-gradient(180deg, rgb(59, 59, 59)70%, rgb(32, 32, 32));
    left: 0;
    top: 0;
    border-radius: 10px;
}

footer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h4 {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
    font-style: normal;
    font-size: 1.35rem;
    background: linear-gradient(to bottom, rgb(211, 211, 211), rgb(95, 95, 95)200%); /* Gradiente do texto */
    -webkit-background-clip: text;       /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente */
    background-clip: text;
    margin-bottom: 1rem;
}

.social-blocks {
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}

.instagram img{
    width: 2rem;
}

.whatsapp img{
    width: 2rem;
}

@media screen and (max-width: 990px) {
    #logo {
        width: 5rem
    }

    .presentation {
        font-size: 1.25rem; 
    }

    #description-objectives h3 {
        font-size: 0.30rem;
    }
}